.slider {
  width: 100%;
  height: 200px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slides {
  display: flex;
  position: absolute;
  left: 0;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.slider span {
  margin-right: 10px;
  width: 200px;
  height: 200px;
  display:block;
  font-size:15vh;
  font-weight:800;
  color:#00509A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider span:last-child {
  margin-right: 0;
}


.ctrl-btn {
  padding: 20px 20px;
  min-width: 50px;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.prev {
  left: 0;
}

.ctrl-btn.next {
  right: 0;
}
